body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  text-align: center;
  background-color: brown;
}
.image-container img {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
  width: 300px;
  height: 300px;
}

.btn {
  background-color: slateblue;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: aqua;
  opacity: 0.9;
}
span {
  background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
